<main>
    <h1 class="text-center text-uppercase">Hello World</h1>
    <h1 class="text-end">Second</h1>
    <h1>Third</h1>
    <hr>

    <div class="display-1 text-muted">Hello World</div>
    <div class="display-5">Second</div>
    <div class="display-6">Third</div>

    <hr>

    <div class="text-muted text-end">
        Додатковий текст <span class="display-6">text</span>
    </div>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-primary">
                <span class="text-uppercase">Button primary</span>
            </button>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="card">
        <div class="card-body">
            <a href="#" class="btn btn-primary">
                Button primary
            </a>
        </div>
    </div>

    <br>
    <br>
    <br>
    <div class="card">
        <div class="card-body">
            <div class="text-secondary">My text</div>
            <div class="text-muted">My text</div>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-secondary btn-lg">Додати</button>
            <button class="btn btn-outline-secondary bt-sm">Редагувати</button>
            <button class="btn btn-outline-danger">Видалити</button>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>
</main>