<main class="p-5">
    <h1>
        Hello<i class="bi bi-emoji-smile-fill"></i>
    </h1>

    <button class="btn btn-primary">
        <i class="bi bi-file-earmark-bar-graph"></i>
        <i class="fa-solid fa-brain" style="color: #ff8040;"></i>
    </button>

    <div>
        <img src="/svg/slack.svg">
    </div>

</main>