<div>
    {{#with main}}
    <main>
        <section>
            {{> title data="My education" big=true}}
            <ul>

                {{#each educations}}
                <li>
                    {{name}}
                    {{#unless isEnde}}
                    (ще в процесі)
                    {{/unless}}
                </li>
                {{/each}}
            </ul>
        </section>

        <section>
            {{> title data="My certificates"}}
            <ul>
                {{#each certificates}}
                <li>
                    {{name}}
                    {{#unless id}}
                    {{#if id includeZero=true}}
                    (favourite)
                    {{/if}}
                    {{/unless}}
                </li>
                {{/each}}
            </ul>
        </section>
    </main>
    {{/with}}
</div>